root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
indent_style = space
indent_size = 4
continuation_indent_size = 8
tab_width = 4
max_line_length = 200
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_layout_static_imports_separately = true
ij_java_use_single_class_imports = true
ij_java_blank_lines_after_package = 1
ij_java_blank_lines_after_imports = 1
ij_java_blank_lines_around_class = 1
ij_java_blank_lines_around_field = 0
ij_java_blank_lines_around_method = 1
ij_java_brace_style = end_of_line
ij_java_method_brace_style = end_of_line
ij_java_keep_simple_methods_in_one_line = false
ij_java_keep_simple_blocks_in_one_line = false
ij_java_keep_multiple_expressions_in_one_line = false
ij_java_align_multiline_parameters = false
ij_java_align_multiline_parameters_in_calls = false
ij_java_call_parameters_wrap = on_every_item
ij_java_method_parameters_wrap = on_every_item

[*.{vue,ts,tsx,js,jsx,mjs,cjs,json,json5,css,scss,less,html}]
indent_style = space
indent_size = 2
tab_width = 2
max_line_length = 120

[*.{yml,yaml}]
indent_style = space
indent_size = 2
tab_width = 2

[*.{xml,pom}]
indent_style = space
indent_size = 4
tab_width = 4

[*.py]
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 100

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[Makefile]
indent_style = tab

