<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gas.forecast.dao.mapper.DataMonthlySalesTbMapper">

    <resultMap id="BaseResultMap" type="com.gas.forecast.dao.domain.DataMonthlySalesTb">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="statDate" column="stat_date" jdbcType="VARCHAR"/>
            <result property="regionName" column="region_name" jdbcType="VARCHAR"/>
            <result property="regionCode" column="region_code" jdbcType="VARCHAR"/>
            <result property="industryName" column="industry_name" jdbcType="VARCHAR"/>
            <result property="industryCode" column="industry_code" jdbcType="VARCHAR"/>
            <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
            <result property="customerCode" column="customer_code" jdbcType="VARCHAR"/>
            <result property="gasSales" column="gas_sales" jdbcType="VARCHAR"/>
            <result property="fileId" column="file_id" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,stat_date,region_name,region_code,industry_name,industry_code,
        customer_name,customer_code,gas_sales,file_id,
        created_at
    </sql>
</mapper>
