<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gas.forecast.dao.mapper.DataFileInfoTbMapper">

    <resultMap id="BaseResultMap" type="com.gas.forecast.dao.domain.DataFileInfoTb">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="fileCode" column="file_code" jdbcType="VARCHAR"/>
            <result property="fileName" column="file_name" jdbcType="VARCHAR"/>
            <result property="objectKey" column="object_key" jdbcType="VARCHAR"/>
            <result property="fileHash" column="file_hash" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="totalCount" column="total_count" jdbcType="INTEGER"/>
            <result property="errorMessage" column="error_message" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdByName" column="created_by_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,file_code,file_name,object_key,file_hash,status,total_count,
        error_message,created_at,updated_at,created_by,created_by_name
    </sql>
</mapper>
