<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gas.forecast.dao.mapper.ModelTrainConfigTbMapper">

    <resultMap id="BaseResultMap" type="com.gas.forecast.dao.domain.ModelTrainConfigTb">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="trainCode" column="train_code" jdbcType="VARCHAR"/>
            <result property="trainName" column="train_name" jdbcType="VARCHAR"/>
            <result property="agentCode" column="agent_code" jdbcType="VARCHAR"/>
            <result property="modelId" column="model_id" jdbcType="BIGINT"/>
            <result property="modelCode" column="model_code" jdbcType="VARCHAR"/>
            <result property="modelName" column="model_name" jdbcType="VARCHAR"/>
            <result property="scopeType" column="scope_type" jdbcType="VARCHAR"/>
            <result property="regionCode" column="region_code" jdbcType="VARCHAR"/>
            <result property="regionName" column="region_name" jdbcType="VARCHAR"/>
            <result property="industryCode" column="industry_code" jdbcType="VARCHAR"/>
            <result property="industryName" column="industry_name" jdbcType="VARCHAR"/>
            <result property="customerCode" column="customer_code" jdbcType="VARCHAR"/>
            <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
            <result property="trainStartDate" column="train_start_date" jdbcType="VARCHAR"/>
            <result property="trainEndDate" column="train_end_date" jdbcType="VARCHAR"/>
            <result property="trainMode" column="train_mode" jdbcType="VARCHAR"/>
            <result property="timeGranularity" column="time_granularity" jdbcType="VARCHAR"/>
            <result property="recentPeriods" column="recent_periods" jdbcType="INTEGER"/>
            <result property="enabled" column="enabled" jdbcType="TINYINT"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdByName" column="created_by_name" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,train_code,train_name,agent_code,model_id,model_code,model_name,scope_type,region_code,
        region_name,industry_code,industry_name,customer_code,customer_name,
        train_start_date,train_end_date,train_mode,time_granularity,recent_periods,
        enabled,remark,
        created_by,created_by_name,created_at,updated_at
    </sql>
</mapper>
