<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gas.forecast.dao.mapper.ModelTrainRecordTbMapper">

    <resultMap id="BaseResultMap" type="com.gas.forecast.dao.domain.ModelTrainRecordTb">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="batchNo" column="batch_no" jdbcType="VARCHAR"/>
        <result property="agentCode" column="agent_code" jdbcType="VARCHAR"/>
        <result property="regionCode" column="region_code" jdbcType="VARCHAR"/>
        <result property="regionName" column="region_name" jdbcType="VARCHAR"/>
        <result property="customerCode" column="customer_code" jdbcType="VARCHAR"/>
        <result property="customerName" column="customer_name" jdbcType="VARCHAR"/>
        <result property="industryCode" column="industry_code" jdbcType="VARCHAR"/>
        <result property="industryName" column="industry_name" jdbcType="VARCHAR"/>
        <result property="trainStartDate" column="train_start_date" jdbcType="VARCHAR"/>
        <result property="trainEndDate" column="train_end_date" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="bestModel" column="best_model" jdbcType="VARCHAR"/>
        <result property="mape" column="mape" jdbcType="DECIMAL"/>
        <result property="wmape" column="wmape" jdbcType="DECIMAL"/>
        <result property="smape" column="smape" jdbcType="DECIMAL"/>
        <result property="rmse" column="rmse" jdbcType="DECIMAL"/>
        <result property="mae" column="mae" jdbcType="DECIMAL"/>
        <result property="r2" column="r2" jdbcType="DECIMAL"/>
        <result property="trainDurationSeconds" column="train_duration_seconds" jdbcType="DECIMAL"/>
        <result property="resultJson" column="result_json" jdbcType="LONGVARCHAR"/>
        <result property="errorMessage" column="error_message" jdbcType="VARCHAR"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdByName" column="created_by_name" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
        <result property="modelVersion" column="model_version" jdbcType="VARCHAR"/>
        <result property="requestParam" column="request_param" jdbcType="LONGVARBINARY"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,batch_no,agent_code,region_code,region_name,customer_code,
        customer_name,industry_code,industry_name,train_start_date,train_end_date,
        status,best_model,mape,wmape,smape,rmse,mae,r2,train_duration_seconds,result_json,
        error_message,created_by,created_by_name,created_at,updated_at,model_version,request_param
    </sql>
</mapper>
