<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gas.forecast.dao.mapper.ModelForecastResultTbMapper">

    <resultMap id="BaseResultMap" type="com.gas.forecast.dao.domain.ModelForecastResultTb">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="forecastBatchNo" column="forecast_batch_no" jdbcType="VARCHAR"/>
            <result property="forecastDate" column="forecast_date" jdbcType="VARCHAR"/>
            <result property="forecastValue" column="forecast_value" jdbcType="DECIMAL"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,forecast_batch_no,forecast_date,forecast_value,created_at
    </sql>
</mapper>
